* {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

a,
span,
label,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button[type="submit"],
button[type="reset"] {
    cursor: pointer;
}


button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


ol,
ul {
    padding: 0px !important;
    list-style: none;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',
        sans-serif;
}

/*==========================
font family
============================*/
.ffo {
    font-family: 'Open Sans',
        sans-serif;
}

/*==========================
text colors
============================*/
.tc-cf {
    color: #cfcfd8;
}

.tc-ff {
    color: #fff;
}

.tc-73 {
    color: #7336f1;
}

.tc-87 {
    color: #878991;
}

.tc-39 {
    color: #393542;
}

.tc-30 {
    color: #30323d;
}

.tc-c8 {
    color: #c8c3c3;
}

/*==========================
background colors
============================*/
.bg-btn {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 96, 163)), to(rgb(255, 153, 165)));
    background: -o-linear-gradient(left, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    background: linear-gradient(90deg, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
}

.bg-purple {
    background: -o-linear-gradient(304deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
    background: linear-gradient(146deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
}

.bg-6f {
    background-color: #6f5fe1;
}

/*==========================
reuseable components
============================*/
.section-head .sec-para p {
    width: 590px;
    margin: auto;
    line-height: 30px;
}

.com-btn a {
    padding: 26px 50px;
    border-radius: 50px;
    font-family: 'Open Sans',
        sans-serif;
    border: 2px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.com-btn a:hover {
    color: #ff60a3;
    background: transparent;
    border-color: #ff60a3;
}

/*==========================
header area starting
============================*/
.heaader-area {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-menu nav ul li {
    display: inline-block;
    margin-left: 30px;
}
.main-menu nav ul li a{
    color: #cfcfd8;
}
.main-menu nav ul li a:hover {
    color: #fff;
}
.main-menu nav ul li.active a {
    color: #FFF !important;
}
.main-menu nav ul li.header-btn a {
    padding: 20px 60px !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.main-menu nav ul li.header-btn a:hover {
    background-color: #ff60a3;
    color: #fff;
}

header .stick {
    padding: 20px 0;
}

/*==========================
banner area starting
============================*/
.banner-area {
    background-image: url(../images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1170px;
}

.banner-area .banner-heading h1 {
    padding-right: 20px;
}

.banner-area .banner-para p {
    line-height: 35px;
}

.banner-img img {
    padding-left: 58px;
}

.banner-area .com-btn a {
    padding: 24px 70px;
    margin-right: 16px;
}

.banner-area .com-btn a:hover {
    border-color: #fff;
    color: #fff;
}

.btn-border a {
    padding: 24px 70px;
    border-radius: 50px;
    font-family: 'Open Sans',
        sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #fff;
    transition: .3s;
}

.btn-border a:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 96, 163)), to(rgb(255, 153, 165)));
    background: -o-linear-gradient(left, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    background: linear-gradient(90deg, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    border-color: transparent;
    color: #fff;
}

.shape1 {
    top: 16%;
    left: 9%;
    -webkit-animation: rotateme 20s linear infinite;
    animation: rotateme 20s linear infinite;
}

.shape2 {
    left: 49%;
    bottom: 17%;
    -webkit-animation: heartbeat 1s infinite alternate;
    animation: heartbeat 1s infinite alternate;
}

.mobile-shape1 {
    padding: 0 !important;
    top: 13%;
    left: -6%;
}

.mobile-shape2 {
    padding: 0 !important;
    bottom: 18%;
    right: -60%;
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/*==========================
counter area starting
============================*/
.counter-border:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #c6c7cb;

}

.counter-border:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #c6c7cb;
}

/*==========================
features area starting
============================*/
.single-feature .fea-text p {
    line-height: 27px;
}

.fea-shape1 {
    left: 0;
    top: 7%;
}

.fea-shape2 {
    right: 0;
    top: -4%;
}

/*==========================
wave-shape area starting
============================*/
.wave-shape {
    position: absolute;
    top: 2370px;
    left: 0;
    right: 0;
    background-image: url(../images/wave-shapes.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 2195px;
    z-index: -1;
}

/*==========================
video-bg area starting
============================*/
.video-area .container {
    background-image: url(../images/video-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 620px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.video__play__btn {
    width: 142px;
    height: 142px;
    display: inline-block;
    background: -o-linear-gradient(304deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
    background: linear-gradient(146deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
    font-size: 30px;
    text-align: center;
    color: #fff !important;
    border-radius: 50%;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.video__play__btn::before {
    content: "";
    width: 60px;
    height: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #7336f1;
    border-radius: 50%;
    -webkit-animation: playbtn 1.6s ease-out infinite;
    animation: playbtn 1.6s ease-out infinite;
}

@-webkit-keyframes playbtn {

    0%,
    30% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: .7;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes playbtn {

    0%,
    30% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: .7;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

/*=========================
how-works area starting
============================*/
.how-works-area p {
    line-height: 25px;
}

/*==========================
pricing area starting
============================*/
.pricing-area {
    margin-bottom: -240px;
}

.pricing-single-box {
    border: #e7e7e7 1px solid;
    border-radius: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #fff;
}

.pricing-single-box:hover {
    border-color: transparent;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.pricing-single-box h4 {
    margin-bottom: -2px;
}

.pricing-single-box .pricing-haeader {
    border-bottom: 3px solid #f6f2fe;

}

.pricing-single-box .com-btn a {
    border: 3px solid #ff60a3 !important;
    padding: 20px 15px;
    line-height: 1;
}

.pricing-single-box:hover .com-btn a {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 96, 163)), to(rgb(255, 153, 165)));
    background: -o-linear-gradient(left, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    background: linear-gradient(90deg, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    color: #fff;
    border-color: transparent !important;
}

.price-each-tabs ul {
    display: inline-block;
    border: 1px solid #e7e7e7;
    border-radius: 30px;
}

.price-each-tabs ul li {
    display: inline-block;
}

.pricing-area .price-each-tabs ul li button {
    background: none;
    border: 0;
    color: #878991;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans',
        sans-serif;
    padding: 23px 40px;
    border-radius: 30px 0 0 30px;
}

.pricing-area .price-each-tabs ul li:nth-child(2) button {
    border-radius: 0 30px 30px 0;
}

.pricing-area .price-each-tabs ul li button.active {
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 96, 163)), to(rgb(255, 153, 165)));
    background: -o-linear-gradient(left, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    background: linear-gradient(90deg, rgb(255, 96, 163) 0%, rgb(255, 153, 165) 100%);
    color: #fff;
}

/*==========================
testimonial area starting
============================*/
.testimonial-area {
    padding: 410px 0 130px;
}

.testimonial-active h3 {
    line-height: 1.6;
}

.test-img-active {
    width: 350px !important;
    margin: auto;
    text-align: center;
    padding: 45px 0;
}

.test-img-active .test-img-item {
    display: block;
    position: relative;
}

.test-img-active .test-img-item img {
    display: inline-block !important;
}

.test-img-active .test-img-item::before {
    position: absolute;
    content: '';
    background: #6f58e3;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    opacity: .5;
    top: 0;
    left: 8px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.test-img-active .slick-center::before {
    opacity: 0;
}

/*==========================
faq area starting
============================*/
.accordion-item {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 20px;
    border-radius: 11px !important;
    border: 0 !important;
}

.faq-area .faq-accordion-area .accordion-item .accordion-button {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans',
        sans-serif;
    padding: 30px 35px;
    border-radius: 11px 11px 0 0;
}

.faq-area .faq-accordion-area .accordion-item .accordion-button.collapsed {
    background: #fff;
    color: #393542;
    border-radius: 11px;
}

.faq-area .faq-accordion-area .accordion-item .accordion-body {
    padding: 23px 35px 35px 35px;
}

.faq-area .faq-accordion-area .accordion-item .accordion-body p {
    line-height: 1.6;
}

.accordion-button::after {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    line-height: 27px;
    font-size: 15px;
    margin-left: auto;
    -webkit-transition: .2s !important;
    -o-transition: .2s !important;
    transition: .2s !important;
    background-image: none;
    border-radius: 50px;
    color: #fff;
    background: #7336f1;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: '\f068';
    font-family: "Font Awesome 5 Free";
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff;
    color: #393542;
    line-height: 27px;
    width: 27px;
    height: 27px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: #fff;
    border-radius: 50px;
}

.wave-shape1 {
    position: absolute;
    top: -335px;
    left: 0;
    right: 0;
    background-image: url(../images/wave-shapes-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1820px;
    z-index: -1;
}

/*==========================
brands area starting
============================*/
.brands-area .single-brand {
    margin: 0 25px;
}

.owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*==========================
latest news area starting
============================*/
.latest-single-blog {
    cursor: pointer;
}

.blog-main-img {
    border-radius: 20px;
}

.blog-main-img img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.latest-single-blog:hover .blog-main-img img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.blog-area .blog-content {
    padding: 0 31px;
}

.blog-area .inner-blog-sec {
    background-color: #fff;
    z-index: 2;
    position: relative;
    margin-top: -20px;
    margin-top: -70px;
    padding: 31px 42px 41px;
    -webkit-box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07);
}

.blog-area .inner-blog-sec h3 {
    line-height: 1.4;
}

/*==========================
subscribers area area starting
============================*/
.subscribers-area .container {
    border-radius: 20px;
}

.subscribers-area .subs-btn {
    padding: 23px 33px;
    border-radius: 50px;
    font-family: 'Open Sans',
        sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 0;
    position: absolute;
    right: 6px;
    top: 7px;
}

.subscriber-form form input {
    width: 100%;
    padding: 0 48px;
    height: 76px;
    border: 0;
    border-radius: 50px;
}

.subscriber-form form input::-webkit-input-placeholder {
    color: #30323D;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.subscriber-form form input::-moz-placeholder {
    color: #30323D;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.subscriber-form form input:-ms-input-placeholder {
    color: #30323D;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.subscriber-form form input::-ms-input-placeholder {
    color: #30323D;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.subscriber-form form input::placeholder {
    color: #30323D;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/*==========================
footer area starting
============================*/
.footer-area .download-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-area .download-theapp-sec a {
    background: #fff;
    -webkit-box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07) !important;
    box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07) !important;
    border-radius: 50px;
    padding: 12px 37px;
}

/*==========================
scrollup area starting
============================*/
#scrollUp {
    right: 50px;
    bottom: 50px;
    height: 61px;
    width: 60px;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    z-index: 10;
    background-color: #7336f1;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

#scrollUp:hover {
    background: #ff60a3;
}
/*==========================
css pre-loader area starting
============================*/
#loading {
    background-color:#7336f1 ;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999990;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 150px;
    margin-top: -25px;
    margin-left: -75px;

}
.object {
    width: 8px;
    height: 50px;
    margin-right: 5px;
    background-color: #fff;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}
.object:last-child {
    margin-right: 0px;
}
.object:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.object:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.object:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.object:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.object:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.object:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.object:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.object:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.object:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
@-webkit-keyframes animate {
    50% {
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}
@keyframes animate {
    50% {
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}